################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/bin/Debug/net9.0
/.vs
/server/obj
/server/.vs
/server/gpt.lle.zip
